[flake8]
max-line-length = 100
extend-ignore = E501,W293,W291,E203
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .eggs,
    .venv,
    venv,
    node_modules,
    data,
    logs,
per-file-ignores =
    */__init__.py:F401
    tests/*:F811,F821,F841,E402,W605
